<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Удаленное хранилище</title>

</head>
<body>
    <div class="container">
        <div class="top-block">
            <h1>Удаленное хранилище</h1>
            <input type="file" id="fileInput" multiple style="display: none;">
            <button id="uploadButton">Загрузить файл</button>
           <button id="createFolderButton">Создать папку</button>
           <button id="createFileButton">Создать файл</button>
         </div>
        <div class="bottom-block">
            <h2>Файлы:</h2>
            <div class="view-toggle">
                <button id="toggleViewButton">Переключить вид</button>
            </div>
            <ul id="fileList" class="list-view">
                <!-- Здесь будут отображаться файлы -->
            </ul>
        </div>
    </div>
    <!-- Модальное окно для создания папки -->
    <div id="createFolderModal" class="modal">
       <div class="modal-content">
        <span class="close-button" id="closeCreateFolderModal">×</span>
        <h2>Создать папку</h2>
        <form id="createFolderForm">
           <label for="folderName">Имя папки:</label>
           <input type="text" id="folderName" name="folderName" required>
           <button type="submit">Создать</button>
        </form>
       </div>
   </div>
    <!-- Модальное окно для создания файла -->
    <div id="createFileModal" class="modal">
        <div class="modal-content">
           <span class="close-button" id="closeCreateFileModal">×</span>
            <h2>Создать файл</h2>
            <form id="createFileForm">
               <label for="fileName">Имя файла:</label>
               <input type="text" id="fileName" name="fileName" required>
               <label for="fileContent">Содержимое:</label>
               <textarea id="fileContent" name="fileContent"></textarea>
               <button type="submit">Создать</button>
           </form>
        </div>
    </div>
   <!-- Модальное окно для переименования -->
    <div id="renameModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeRenameModal">×</span>
            <h2>Переименовать</h2>
           <form id="renameForm">
                <label for="newName">Новое имя:</label>
                <input type="text" id="newName" name="newName" required>
                <input type="hidden" id="oldName" name="oldName">
                <button type="submit">Переименовать</button>
           </form>
      </div>
    </div>
    <script>
        const fileList = document.getElementById('fileList');
        const uploadButton = document.getElementById('uploadButton');
        const fileInput = document.getElementById('fileInput');
        const toggleViewButton = document.getElementById('toggleViewButton');
        const createFolderButton = document.getElementById('createFolderButton');
        const createFileButton = document.getElementById('createFileButton');
        const createFolderModal = document.getElementById('createFolderModal');
        const createFileModal = document.getElementById('createFileModal');
        const closeCreateFolderModal = document.getElementById('closeCreateFolderModal');
        const closeCreateFileModal = document.getElementById('closeCreateFileModal');
        const createFolderForm = document.getElementById('createFolderForm');
        const createFileForm = document.getElementById('createFileForm');
         const renameModal = document.getElementById('renameModal');
        const closeRenameModal = document.getElementById('closeRenameModal');
        const renameForm = document.getElementById('renameForm');
        
        let currentFolderName = '';

        // Функция для обновления списка файлов
        function updateFileList() {
            fetch('/list')
                .then(response => response.json())
                .then(data => {
                    fileList.innerHTML = '';
                    data.items.forEach(item => {
                        const li = document.createElement('li');
                        li.dataset.filename = item.name;
                        li.dataset.path = item.name;

                        // Определение типа файла на клиенте
                        const isArchive = isArchiveFile(item.name);
                         const isImageOrVideo = item.type && item.type.startsWith(('image/', 'video/'));
                        let actionsButton = `<button class="actions-btn">⋯</button>
                             <div class="actions-menu">
                         `;
                        if (item.is_dir) {
                             actionsButton +=  `
                                <button class="download-btn" data-filename="${item.name}">Download</button>
                                <button class="delete-btn" data-filename="${item.name}">Delete</button>
                             </div>
                            `;
                             li.innerHTML = `
                                <span class="item-name folder" data-filename="${item.name}">${item.name}</span>
                                <span class="item-size">${formatBytes(item.size)}</span>
                                ${actionsButton}
                            `;
                        } else {
                             const thumbnailUrl = item.thumbnail;
                             const isEditable = isEditableFile(item.name);
                                actionsButton += `
                                <button class="download-btn" data-filename="${item.name}">Download</button>
                                <button class="edit-btn" data-filename="${item.name}" ${isEditable ? '' : 'style="display: none;"'}>Edit</button>
                                <button class="extract-btn" data-filename="${item.name}" ${isArchive ? '' : 'style="display: none;"'}>Extract</button>
                                 <button class="delete-btn" data-filename="${item.name}">Delete</button>
                            </div>
                            `;
                            li.innerHTML = `
                                <span class="item-name ${isArchive ? 'archive' : ''}" data-filename="${item.name}">${item.name}</span>
                                ${thumbnailUrl ? `<img class="item-thumbnail" src="${thumbnailUrl}" alt="${item.name}" style="display: ${fileList.classList.contains('grid-view') ? 'block' : 'none'};">` : ''}
                                <span class="item-type">${item.type}</span>
                                <span class="item-size">${formatBytes(item.size)}</span>
                                ${actionsButton}
                            `;
                        }
                        fileList.appendChild(li);
                    });
                    addEventListenersToButtons();
                })
                .catch(error => console.error('Error:', error));
        }
        // Функция для определения, является ли файл архивом (на основе расширения)
        function isArchiveFile(filename) {
            const archiveExtensions = ['.zip', '.rar', '.7z', '.tar', '.gz', '.bz2'];
            const ext = filename.slice(filename.lastIndexOf('.')).toLowerCase();
            return archiveExtensions.includes(ext);
        }

        // Функция для определения, является ли файл редактируемым (на основе расширения)
         function isEditableFile(filename) {
            const editableExtensions = ['.txt', '.html', '.css', '.js', '.py', '.json', '.xml', '.csv', '.md', '.log']; // и другие текстовые форматы
            const ext = filename.slice(filename.lastIndexOf('.')).toLowerCase();
            return editableExtensions.includes(ext);
        }

        // Функция для форматирования размера файла
        function formatBytes(bytes, decimals = 2) {
            if (bytes === 0) return '0 Bytes';

            const k = 1024;
            const dm = decimals < 0 ? 0 : decimals;
            const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

            const i = Math.floor(Math.log(bytes) / Math.log(k));

            return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
        }

        // Обработчик нажатия на кнопку загрузки
        uploadButton.addEventListener('click', () => {
            fileInput.click();
        });
        
        // Обработчик нажатия на кнопку создания папки
        createFolderButton.addEventListener('click', () => {
           createFolderModal.style.display = 'block';
        });
         // Обработчик нажатия на кнопку создания файла
        createFileButton.addEventListener('click', () => {
            createFileModal.style.display = 'block';
        });
        
        // Обработчик закрытия модального окна создания папки
        closeCreateFolderModal.addEventListener('click', () => {
           createFolderModal.style.display = 'none';
        });

        // Обработчик закрытия модального окна создания файла
        closeCreateFileModal.addEventListener('click', () => {
          createFileModal.style.display = 'none';
        });

        // Обработчик отправки формы создания папки
        createFolderForm.addEventListener('submit', (event) => {
             event.preventDefault();
             const formData = new FormData(createFolderForm);
             fetch('/create_folder', {
                 method: 'POST',
                 body: formData,
             })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                  createFolderModal.style.display = 'none';
                   updateFileList();
                 } else {
                   alert(data.error);
                }
             })
             .catch(error => {
                 console.error('Error:', error);
                alert('Error creating folder!');
              });
        });

         // Обработчик отправки формы создания файла
         createFileForm.addEventListener('submit', (event) => {
             event.preventDefault();
             const formData = new FormData(createFileForm);
             fetch('/create_file', {
                 method: 'POST',
                 body: formData,
             })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                 createFileModal.style.display = 'none';
                  updateFileList();
                 } else {
                   alert(data.error);
                 }
            })
            .catch(error => {
               console.error('Error:', error);
              alert('Error creating file!');
          });
        });
         // Обработчик закрытия модального окна переименования
        closeRenameModal.addEventListener('click', () => {
            renameModal.style.display = 'none';
        });
          // Обработчик отправки формы переименования
          renameForm.addEventListener('submit', (event) => {
            event.preventDefault();
           const formData = new FormData(renameForm);
            fetch('/rename', {
                 method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
               if (data.message) {
                renameModal.style.display = 'none';
                   updateFileList();
              }
              else{
                   alert(data.error)
                }
          })
           .catch(error => {
              console.error('Error:', error);
              alert('Error renaming!');
            });
         });
        // Обработчик выбора файла
        fileInput.addEventListener('change', () => {
            const files = fileInput.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const formData = new FormData();
                formData.append('file', file);

                // Ищем элемент в списке по имени файла, если он уже есть
                let li = document.querySelector(`#fileList li[data-filename="${file.name}"]`);
                if (!li) {
                    // Если элемента нет, создаем новый
                    li = document.createElement('li');
                    li.dataset.filename = file.name;
                     li.dataset.path = file.name;

                    li.innerHTML = `
                        <span class="item-name" data-filename="${file.name}">${file.name}</span>
                        <span class="item-type"></span>
                        <span class="item-size">Uploading...</span>
                         <button class="actions-btn">⋯</button>
                         <div class="actions-menu">
                         </div>
                    `;
                    fileList.appendChild(li);
                }

                // Добавляем класс uploading для анимации
                li.classList.add('uploading');

                // Опция, указывающая, что мы хотим использовать ReadableStream
                const options = {
                    method: 'POST',
                    body: formData,
                    allowHTTP1ForStreamingUpload: true,
                };

                fetch('/upload', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const contentLength = +response.headers.get('Content-Length');
                    let receivedLength = 0;
                    let chunks = [];

                    const reader = response.body.getReader();

                    return new Promise((resolve, reject) => {
                        function pump() {
                            reader.read().then(({ done, value }) => {
                                if (done) {
                                    let body = new Uint8Array(receivedLength);
                                    let position = 0;
                                    for (let chunk of chunks) {
                                        body.set(chunk, position);
                                        position += chunk.length;
                                    }

                                    resolve(new Response(body));
                                    return;
                                }

                                chunks.push(value);
                                receivedLength += value.length;

                                // Расчет и обновление прогресса в элементе списка
                                const percentComplete = contentLength ? (receivedLength / contentLength) * 100 : 0;
                                if (li) {
                                    const itemSize = li.querySelector('.item-size');
                                    if (itemSize) {
                                        itemSize.textContent = `Uploading... ${percentComplete.toFixed(0)}%`;
                                    }
                                }
                                pump();
                            }).catch(reject);
                        }

                        pump();
                    });
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (li) {
                        li.classList.remove('uploading');
                        const itemSize = li.querySelector('.item-size');
                        const actionsMenu = li.querySelector('.actions-menu');
                        if (itemSize) {
                          fetch('/list')
                          .then(response => response.json())
                          .then(data => {
                            data.items.forEach(item => {
                              if(item.name == li.dataset.filename){
                                  if (item.is_dir) {
                                      li.querySelector('.item-name').classList.add('folder');
                                     li.querySelector('.item-type').textContent = '';
                                      actionsMenu.innerHTML = `
                                         <button class="download-btn" data-filename="${item.name}">Download</button>
                                          <button class="delete-btn" data-filename="${item.name}">Delete</button>
                                         `;
                                }
                                else{
                                     li.querySelector('.item-type').textContent = item.type;
                                    const isArchive = isArchiveFile(item.name);
                                    const isEditable = isEditableFile(item.name);
                                    actionsMenu.innerHTML = `
                                        <button class="download-btn" data-filename="${item.name}">Download</button>
                                        <button class="edit-btn" data-filename="${item.name}" ${isEditable ? '' : 'style="display: none;"'}>Edit</button>
                                        <button class="extract-btn" data-filename="${item.name}" ${isArchive ? '' : 'style="display: none;"'}>Extract</button>
                                        <button class="delete-btn" data-filename="${item.name}">Delete</button>
                                    `;
                                }
                                itemSize.textContent = formatBytes(item.size);
                                if (item.thumbnail){
                                  li.innerHTML = li.innerHTML.replace(/<img class="item-thumbnail".*?>/,"");
                                   li.querySelector('.item-name').insertAdjacentHTML('beforebegin', `<img class="item-thumbnail" src="${item.thumbnail}" alt="${item.name}" style="display: ${fileList.classList.contains('grid-view') ? 'block' : 'none'};">`);
                                }
                              }
                            })
                          });
                        }
                    }
                     updateFileList();
                })
                .catch(error => {
                    console.error('Error:', error);
                    if (li) {
                        li.classList.remove('uploading');
                        const itemSize = li.querySelector('.item-size');
                        if (itemSize) {
                            itemSize.textContent = 'Error';
                        }
                    }
                });
            }
            fileInput.value = '';
        });

        // Функция добавления обработчиков событий для кнопок
      function addEventListenersToButtons() {
           console.log('addEventListenersToButtons was triggered');
            document.querySelectorAll('.actions-btn').forEach(button => {
               button.removeEventListener('click', onActionsButtonClick);
                button.addEventListener('click', onActionsButtonClick);
             });
              fileList.querySelectorAll('li').forEach(li => {
                 li.querySelectorAll('.download-btn').forEach(button => {
                    button.removeEventListener('click', onDownloadClick);
                    button.addEventListener('click', onDownloadClick);
                });

                li.querySelectorAll('.delete-btn').forEach(button => {
                     button.removeEventListener('click', onDeleteClick);
                    button.addEventListener('click', onDeleteClick);
                 });
    
                li.querySelectorAll('.edit-btn').forEach(button => {
                    button.removeEventListener('click', onEditClick);
                   button.addEventListener('click', onEditClick);
                 });
    
                li.querySelectorAll('.extract-btn').forEach(button => {
                     button.removeEventListener('click', onExtractClick);
                   button.addEventListener('click', onExtractClick);
                 });
              });
            document.querySelectorAll('#fileList li').forEach(item => {
                 item.removeEventListener('click', onItemClick);
                 item.addEventListener('click', onItemClick);
             });
        }
        
        function onActionsButtonClick(event) {
             console.log('onActionsButtonClick was triggered', event);
            const li = event.currentTarget.closest('li');
             console.log('li',li);
            const actionsMenu = li.querySelector('.actions-menu');
            console.log('actionsMenu',actionsMenu);
            actionsMenu.classList.toggle('show');
          }
        
        document.addEventListener('click', (event) => {
           if (!event.target.closest('.actions-menu') && !event.target.closest('.actions-btn')) {
                document.querySelectorAll('.actions-menu.show').forEach(menu => {
                     menu.classList.remove('show');
                });
            }
        });
        
        function onItemClick(event) {
             const target = event.target;
            // Проверяем, что клик не был на кнопке или на меню внутри li
              if (target.closest('button') || target.closest('.actions-menu')) {
                 return; // Если кликнули на кнопку или меню, ничего не делаем
           }
             const li = this; // this теперь указывает на <li>
            let filename = li.dataset.filename;
            const isFolder = li.querySelector('.item-name').classList.contains('folder');
            const itemTypeElement = li.querySelector('.item-type');
            const itemType = itemTypeElement ? itemTypeElement.textContent : '';
            const isImageOrVideo = itemType.startsWith('image/') || itemType.startsWith('video/');
            const isEditable = li.querySelector('.item-name').classList.contains('archive') || (li.querySelector('.edit-btn') && li.querySelector('.edit-btn').style.display !== 'none');

            let currentPath = window.location.pathname;
            if (currentPath.endsWith('/')) {
                currentPath = currentPath.slice(0, -1);
            }
           if (isFolder) {
                let newPath;
              const pathParts = currentPath.split('/');
               const currentFolderName = pathParts[pathParts.length - 1];
                if (filename.startsWith(currentFolderName)) {
                     newPath = `/folder/${filename}`;
                }
                else{
                  newPath = `/folder/${currentPath}/${filename}`
                }
                 window.location.href = newPath;
            }
           else if (isImageOrVideo)
           {
                 window.location.href = `/view/${filename}`;
            }
           else if (isEditable) {
               window.location.href = `/edit/${filename}`;
            }
        }

        function onDownloadClick() {
            const filename = this.dataset.filename;
            window.location.href = `/uploads/${filename}`;
        }

        function onDeleteClick() {
            const filename = this.dataset.filename;
            fetch(`/delete/${filename}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                updateFileList();
            })
            .catch(error => console.error('Error:', error));
        }

        function onEditClick() {
            const filename = this.dataset.filename;
            window.location.href = `/edit/${filename}`;
        }

        function onExtractClick() {
            const filename = this.dataset.filename;
             const li = document.querySelector(`#fileList li[data-filename="${filename}"]`);
            if (li) {
                li.classList.add('extracting');
            }
            fetch(`/extract/${filename}`, {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                 if (li) {
                    li.classList.remove('extracting');
                }
                console.log(data);
                updateFileList();
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('Archive extracted successfully!');
                }
            })
            .catch(error => {
                 if (li) {
                    li.classList.remove('extracting');
                }
                console.error('Error:', error);
                alert('Error extracting archive!');
            });
        }
         // Функция для обработки переименования
        function renameItem(event) {
            event.stopPropagation();
           const li = event.target.closest('li');
           if (li) {
              const oldName = li.dataset.filename;
               document.getElementById('oldName').value = oldName;
                renameModal.style.display = 'block';
                }
            }
        toggleViewButton.addEventListener('click', () => {
            fileList.classList.toggle('list-view');
            fileList.classList.toggle('grid-view');
            document.querySelectorAll('.item-thumbnail').forEach(item => {
                item.style.display = fileList.classList.contains('grid-view') ? 'block' : 'none';
            })
        });
         fileList.addEventListener('contextmenu', function(event) {
            event.preventDefault();
           if(event.target.closest('li')){
              renameItem(event)
             }
        });
        // Обновляем список файлов при загрузке страницы
        updateFileList();
    </script>
</body>
</html>