<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Просмотр {{ filename }}</title>
</head>
<body>
    <div class="container">
        <div class="top-block">
            <h1>Просмотр {{ filename }}</h1>
            <a href="/">Назад к списку файлов</a>
        </div>
       <div class="bottom-block">
          <div class="view-image-container">
           {% if mime_type.startswith('image/') %}
            <img src="/uploads/{{ filename }}" alt="{{ filename }}">
           {% elif mime_type.startswith('video/') %}
              <video controls src="/uploads/{{ filename }}"></video>
           {% else %}
              <p>Невозможно отобразить данный тип файла.</p>
           {% endif %}
         </div>
      </div>
    </div>
</body>
</html>